.card
{
    max-width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    

}
.card img{
    width: 100%;
}

.card h4, .card p{
    margin: 6px 0;
}

.cardinfo
{
    padding: 0 8px;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    gap:12px;
    justify-content: space-around;
}


